.resim1 {

    width: 85.1875rem;
    height: 34.5625rem;
}

.pizzafoto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Anasayfabody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120rem;
    height: 67.5rem;
    background-color: #CE2829;

}

.Baslik {
    text-align: center;

    top: 115.6px;
    left: 779.5px;
    color: #FFFFFF;
    font-size: 50px;




}

.BaslikAlti {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Lora', serif;
    color: #FFFFFF;
    width: 586.67px;
    height: 195px;
    top: 194px;
    left: 25px;
    font-size: 70px;


}

.anasayfaüst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 636px;
    height: 551.27px;
    top: 48px;
    left: 642px;
    padding: 194px, 24.33px, 150px, 25px;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn1 {
    background-color: #FDC913;
    width: 193.27px;
    height: 56px;
    top: 402.27px;
    left: 221.36px;
    padding: 3.73px, 50.16px, 0.27px, 49.64px;
    border-radius: 50px;

}