.SiparisFormuMvp {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 120rem;


}



.BaslikSiparis {
    text-align: center;

    top: 7.225rem;
    left: 48.71875rem;
    color: #FFFFFF;
    font-size: 3.125rem;
}

.SiparisHeader {
    background-color: #CE2829;
    height: 12.9375rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HeaderSiparisMvp {

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 36.3125rem;
    margin-left: 20rem;
}

.link {
    text-decoration: none;
    margin-right: 1.25rem;
    color: white;
}

.SiparisContent {
    width: 36.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pizzaismi {
    width: 29.3975rem;

    margin-left: 121.4375rem;
    margin-right: 45.30125rem;

}

.sayfaüstfiyat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 36.3125rem;
    margin-left: 83rem;
}

.puanlama {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10.625rem;
}

.aciklama {
    display: flex;
    flex-wrap: wrap;
    width: 36.3125rem;
    height: 8.625rem;
    margin-left: 83rem;
}

.seçim {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 36.3125rem;
    margin-left: 83rem;
}

.ekmalzemeler {
    width: 36.3125rem;
    height: 11.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.malzemelistesi {
    width: 36.3125rem;
    height: 11.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ürün {
    width: 10.375rem;
    height: 1.625rem;
    gap: 0.6875rem;

}

.malzemeEkle {
    margin-left: 83.1875rem;
}

.siparisnot {
    width: 36.25rem;
    height: 3.5rem;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}

.not {

    margin-top: 3.125rem;
}

.line {
    border: 1px solid #5F5F5F;
    width: 36.3125rem;
    color: #5F5F5F;
    margin-top: 2.5rem;
    margin-right: 28.675rem;
}

.btnMvp1 {
    background-color: #FDC913;
    width: 2.9375rem;
    height: 3.5rem;
    border-radius: 6px 0px 0px 6px;
}

.btnMvp2 {
    background-color: #FDC913;
    width: 2.9375rem;
    height: 3.5rem;
    border-radius: 0px 6px 6px 0px;
}

.pizzasayisi {
    text-align: center;
    align-content: center;
    width: 2.9375rem;
    height: 3.5rem;
    border: 1px solid #D9D9D9;
}

.counter {
    display: flex;
    flex-direction: row;
    margin-top: 1.875rem;
}


.siparisbilgi {
    width: 24.125rem;
    height: 12.3125rem;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.8125rem;
    margin-left: 3.1875rem;

}

.fiyatbilgisi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.siparistoplam {
    padding-left: 4.875rem;
}

.toplamyazi {
    color: red;
}

.sayfasonu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.siparisbtn {
    width: 24.125rem;
    height: 3.875rem;
    border-radius: 6px;
    background-color: #FDC913;
    cursor: pointer;
}